<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Catalogue</h1>

		<ul>
			<h2>Admin Roles</h2>
			<a href="/add" target="_blank"> <li>Add Candidate</li></a>
			<a href="/result" target="_blank"><li>Result of voting</li></a>
		</ul>
		<ul>
			<h2>User Roles</h2>
			<a href="/users/" target="_blank"> <li>Vote a user</li></a>
		</ul>
	</body>
</html>
